# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Temporary segment files
temp_segments*/

# Downloaded videos
downloads/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo
